body{
  background-color: var(--bg-color-d);
}
section{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

a{
  font-size: 4em;
}
.btn{
  padding: 50px;
  color: #030303;
  background-color: var(--main-color);
  border-radius: 40%;
  transition: all 0.5s ease;

}

.btn:hover{
  padding:120px 50px;
  background-color: var(--main-color-h);
  color:var(--second-color-l);
  border-radius: 50%;
  /* Property, Duration, Timing-funcion, Delay */
  transition: all 0.5s ease;

}

p, p a{
  font-size: 16px;
  color:var(--second-color-l);
  text-align: center;
}